<html>
    <head><title>login sukses</title></head>
    <body>
        <h2>Selamat Datang pada halaman Login TU</h2>
        <p>Halo {{username}}, silahkan approve form yang telah jadi.</p><br>
        <table border="1">
            <tr>
                <th width="150">Id Surat</th>
                <th width="150">Waktu Submit</th>
                <th width="150">Template Surat</th>
                <th width="150">Approve</th>
            </tr>
            <tr>
                <td>ASDF132</td>
                <td>10/10/17</td>
                <td>3</td>
                <td><a href="http://localhost:5000/approveSurat/">Approve</a></td>
            </tr>
        </table>
    </body>
</html>