<html>
    <head><title>login sukses</title></head>
    <body>
        <h2>Selamat Datang pada halaman Login MHS</h2>
        <p>Halo {{username}} silahkan pilih form surat yang anda butuhkan : </p>
        <a href="http://localhost:5000/tambahForm1">Form 1</a>
        <a href="http://localhost:5000/tambahForm2">Form 2</a>
        <a href="http://localhost:5000/tambahForm3">Form 3</a>
        <a href="http://localhost:5000/tambahForm4">Form 4</a><br>
        <br>
        <table border="1">
            <tr>
                <th width="150">Id Surat</th>
                <th width="150">Waktu Submit</th>
                <th width="150">Template Surat</th>
                <th width="150">Status</th>
            </tr>
            <tr>
                <td>ASDF132</td>
                <td>10/10/17</td>
                <td>3</td>
                <td>Disetujui</td>
            </tr>
        </table>
    </body>
</html>