<html>
    <head>
        <title>FORMULIR SURAT KETERANGAN MENGERJAKAN TUGAS AKHIR</title>
    </head>
    <body>
        <h2>FORMULIR SURVEI DAN PENGAMBILAN DATA</h2>
        <form action="http://localhost:5000/tambahForm2" method="post">
            NRP : <br> <input type="text" name="nrp" size="30"> <br>
            Nama : <br> <input type="text" name="nama" size="30"> <br>
            Nama Instansi   : <br> <input type="nama_instansi" name="ttl" size="30"> <br>
            Kepada     : <br> <input type="text" name="kepada" size="30"> <br>
            Jabatan    : <br> <input type="text" name="jabatan" size="30"><br>
            Mata Kuliah    : <br> <input type="text" name="mata_kuliah" size="30"><br>
            Survei Mengenai :   <br> <input type="text" name="survei_mengenai" size="30"><br>
            Data    : <br> <input type="text" name="data1" size="30">
            <br><p><input type="submit" value="Request"></p>
        </form>
    </body>
</html>