<html>
    <head>
        <title>Tambah User</title>
    </head>
    <body>
        <h2>Tambah User</h2>
        <form action="http://localhost:5000/tambahUser" method="post">
            Username : <br> <input type="text" name="username" size="30"> <br>
            Password : <br> <input type="text" name="password" size="30"> <br>
            Flag     : <br> <input type="text" name="flag" size="15">
            <br><p><input type="submit" value="Simpan"></p>
        </form>
    </body>
</html>