<html>
    <head>
        <title>FORMULIR SURAT KETERANGAN MAHASISWA</title>
    </head>
    <body>
        <h2>FORMULIR SURAT KETERANGAN MAHASISWA</h2>
        <form action="http://localhost:5000/tambahForm4" method="post">
            NRP : <br> <input type="text" name="nrp" size="30"> <br>
            Nama : <br> <input type="text" name="nama" size="30"> <br>
            Tempat Tanggal Lahir     : <br> <input type="text" name="ttl" size="30"> <br>
            Email     : <br> <input type="text" name="email" size="30"> <br>
            Alamat Sekarang    : <br> <input type="text" name="alamat_sekarang" size="30"><br>
            Nama Orang Tua/Wali    : <br> <input type="text" name="wali" size="30"><br>
            No Hp Wali :   <br> <input type="text" name="no_hp_wali" size="30"><br>
            Pekerjaan Wali  : <br> <input type="text" name="pekerjaan_wali" size="30"><br>
            Alamat Wali : <br> <input type="text" name="alamat_wali" size="30"><br>
            Masa Studi   : <br> <input type="text" name="masa_studi" size="30"><br>
            Status Mahasiswa   : <br> <input type="text" name="status_mahasiswa" size="30"><br>
            Tahap   : <br> <input type="text" name="tahap" size="30"><br>
            Digunakan Untuk : <br><input type="text" name="digunakan_untuk" size="30">            
            <br><p><input type="submit" value="Request"></p>
        </form>
    </body>
</html>